.container1 {
    display: flex;
    justify-content: flex-start;
}

.container2 {
    display: flex;
    justify-content: flex-end;
}

.container3 {
    display: flex;
    justify-content: center;
}

.container4 {
    display: flex;
    justify-content: space-between;
}

.container5 {
    display: flex;
    justify-content: space-around;
}

.container6 {
    display: flex;
    justify-content: space-evenly;
}